.vs/
bin/
bin-int/
*.ipch
*.db
*.db-wal
*.db-shm
*.opendb
*.log
*.tlog
*.idb
*.pdb
*.ilk
*.exp
*.obj
Debug/GAM300.exe.recipe
x64/Debug/GAM300.exe
*.recipe
*.pch
*.iobj
*.ipdb
*.exe
/Libraries
Eclipse/Logs/Crash Report.txt
