.vs/
bin/
bin-int/
*.ipch
*.db
*.db-wal
*.db-shm
*.opendb
*.log
*.tlog
*.idb
*.ilk
*.exp
*.obj
Debug/GAM300.exe.recipe
x64/Debug/GAM300.exe
*.recipe
*.pch
*.iobj
*.ipdb
/Libraries
Eclipse/Logs/Crash Report.txt
Eclipse/mcs_script_output.txt
Eclipse/mcs_api_output.txt
Eclipse/mcs_api_output.txt
Eclipse/mcs_script_output.txt
